
.navbar {
    background-color:#F5F5F5;
    height: 80px;
    display: block;
    text-align: center;
}

.home {
    padding: 1rem;
    font-size: 2rem;
    background: none;
    text-decoration: none;
    float: left;
}
.home:link, .home:visited {
    color: #010714;
}
.navbar-buttons {
    float: right;
    padding: 1rem;
    font-size: 2rem;
    background: none;
    text-decoration: none;
}
.navbar-buttons:link, .navbar-buttons:visited {
    color: #010714;
}

.navbar-buttons:hover {
    background: #E0E0E0;
}