@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

.Work {
    padding-top: 20px;
    text-align: center;
    background-color: #010714;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-y:auto;
  }

.button {
    background-color: #F5F5F5; 
    border: none;
    color: #010714;
    padding: 15px 32px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: #E0E0E0;
}

.space {
    padding: 20px;
}